# Copyright 2019 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: gke-dbt
spec:
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  template:
    metadata:
      labels:
        app: gke-dbt
    spec:
      containers:
      - name: gke-dbt
        image: gcr.io/PROJECT_ID/IMAGE:TAG
        command: ["dbt", "run"]
        resources:
          requests:
            cpu: 100m
          limits:
            cpu: 100m
        env:
	  - name: GCP_PROJECT_ID
            value: $PROJECT_ID
          - name: GCP_BQ_DATASET_ID
            value: $BQ_DATASET_ID
